* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Forgot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}

.Forgot_Inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    padding: 30px 30px;
    border-radius: 16px;
    box-shadow: 1px 1px 5px gray;
}

#Forgot_Text {
    font-weight: 700;
    font-size: xx-large;
    padding: 15px 0px;
}

#Forgot_Form {
    display: flex;
    flex-direction: column;
}

.Forgot_Input {
    border: 1px solid #999696;
    width: 500px;
    padding: 0px 10px;
    margin: 10px 0px;
    border-radius: 8px;
    height: 50px;
    box-shadow: 0px 1px 3px gray;
}

.Forgot_Input:hover {
    border: 1px solid black;
}

#Forgot_OTP_Field {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Forgot_OTP {
    width: 28%;
    border: 1px solid #999696;
    border-radius: 8px;
    height: 50px;
    margin: 10px 0px;
    box-shadow: 0px 1px 3px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Forgot_OTP:hover {
    border: 1px solid black;
}

.Forgot_OTP_Text {
    font-size: large;
    font-weight: 500;
}

.Forgot_OTP_Input {
    width: 68%;
    border: 1px solid #999696;
    border-radius: 8px;
    height: 50px;
    margin: 10px 0px;
    box-shadow: 0px 1px 3px gray;
    padding: 0px 10px;
}

.Forgot_OTP_Input:hover {
    border: 1px solid black;
}

.Forgot_Button {
    background-color: rgb(51,65,85);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#Validate_Forgot_OTP {
    width: 500px;
    border: 1px solid #999696;
    border-radius: 8px;
    height: 50px;
    margin: 10px 0px;
    box-shadow: 0px 1px 3px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: large;
    font-weight: 500;
}

#Validate_Forgot_OTP:hover {
    border: 1px solid black;
}

.parentpopup:hover .popup {
    transform: scale(1.1);
    transition: transform 0.2s;
}