.property-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background-color: #f5f5f5;
  width: 100%;
}
  
.property-detail-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  max-width: 1000px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border: 2px solid #ddd;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
  
.property-title {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}
  
.property-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}
  
.property-image {
  width: 100%;
  max-height: 450px;
  border-radius: 10px;
  object-fit: cover;
}

.property-image-container img {
  width: 48%; /* Allows two images side by side */
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.property-image-container img:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}
  
.property-details {
  font-size: large;
  color: #555;
  text-align: left;
  width: 100%;
  padding: 0 20px;
}
  
.property-details h2 {
  font-size: xx-large;
  color: #444;
  margin-bottom: 15px;
  font-weight: bold;
}

.property-details p {
  margin: 10px 0;
  line-height: 1.8;
  font-size: large;
}
  
.property-details strong {
  color: #222;
  font-weight: bold;
}
  
@media (max-width: 768px) {
  .property-detail-content {
      width: 90%;
  }

  .property-title {
      font-size: x-large;
  }

  .property-details {
      font-size: medium;
  }

  .property-details h2 {
      font-size: x-large;
  }

  /* Stack images in mobile view */
  .property-image-container img {
      width: 100%;
  }
}